@charset "utf-8";

* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

header {
	background: hsla(218,44%,55%,1.00);
}

.home {
	padding-left: 20px;
}

button {
	align-content: right;
}

nav {
	background: hsla(218,44%,55%,1.00);
}

.carousel {
	padding: 30px;
	margin: auto;
	align-content: center;
	width: 60%;
}

h2 {
	color: hsla(218,44%,55%,1.00);
}

.courses {
	padding-bottom: 20px;
}

.star {
	color: goldenrod;
}

footer {
	width: 100%;
	padding: 10px;
	background: hsla(218,44%,55%,1.00);
}
.logo { 
	text-align: center;
}
.jumbotron {
	background-color: #acd0be;
}