/*color nav bar & our goal: #acd0be
colors used in logo: #acd0be, #6ad892, #67d891
font-family: 'Noto Sans JP', sans-serif;;*/ 
* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
	font-family: 'Noto Sans JP', sans-serif;
}

header {
	background-color: white;
	padding: 10px;
}

.home {
	padding-left: 20px;
}

button {
	align-content: right;
	color: white;
}

nav {
	background: #acd0be;
}

.carousel {
	padding: 30px;
	margin: auto;
	align-content: center;
	width: 60%;
}

h2 {
	color: black;
}

.courses {
	padding-bottom: 20px;
	margin-top: 50px;
}

.buttontext {
	color: white;
	background-color: #acd0be;
	
}

.buttontext:hover {
	color: #acd0be;
	background-color: white; 
}

.buttontwo {
	color: black;
	background-color: white;
}

.buttontwo:hover {
	background-color: black;
	color: #acd0be;
}

.star {
	color: goldenrod;
}

footer {
	width: 100%;
	padding: 10px;
	background: #acd0be;
}
.logo { 
	text-align: center;
}
.jumbotron {
	background-color: #acd0be;
}
.image {
	height: 200px;
}
.description-margin {
	margin-top: 50px; 
}
p {
	font-family: 'Noto Sans JP', sans-serif;
}
h2 {
	font-family: 'Noto Sans JP', sans-serif;
}
h1 {
	font-family: 'Noto Sans JP', sans-serif;
}
.trending-margin {
	margin-bottom: 50px;
	margin-top: 50px; 
}
.text-about-us {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}
.search-bar {
	text-align:center;
	margin-left: 475px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.star-margin {
	margin-bottom: 10px;
}
.content-margin {
	margin-top: 40px;
	margin-bottom: 40px;
}
.content-title {
	margin-top: 40px; 
}
.size-title {
	font-size: 75px;
}

.searchbar {
	padding: 15px;
}

#white-navbar {
	background-color: white; 
}

.text-thanks {
	margin-top: 70px; 
}

.background-thanks {
	background-color: #acd0be;
}

/* Purchase page css */
/*cart items*/

.cart-page{
	margin: 80px auto;
}

table{
	width: 100%;
	border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}
th{
	padding: 5px;
	color: #fff;
	background:#acd0be;
	font-family: Noto Sans JP;
	font-weight: normal;
}

td{
	padding: 10px, 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
	background: #acd0be;
	align-content: center
}

td a{
	color: #acd0be;
}

td img{
	width: 80px;
	height: 80px;
	margin-right: 10px
}

.wrapper{
	width: 420px;
	margin: 0 auto;
}
.wrapper ul{
	list-style: none;
	margin-top: 2%;
}

.wrapper ul li{
    background: #acd0be;
    width: 60px;
    border: 1px solid #fff;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 10px;
    position: relative;
    font-family: Noto Sans JP; 
}

.wrapper ul li:hover{
	background: #67d891;
}

.wrapper ul ul{
	display: none;
}

.wrapper ul li:hover > ul{
	display: block;

}

.background-about {
	background-color: #acd0be;
	margin-bottom: 100px;
}

.background-home {
	background-color: #acd0be;
}

.padding-about {
	padding-top: 40px;
}

/*login page*/
.loginpage {
	background-color: #acd0be;
}

.loginbar {
	padding-bottom: 10px;
	padding-top: 10px;
}

.loginbutton {
	padding-top: 20px;
	padding-bottom: 30px;
}

.login {
    width: 100%;
    text-align: center;
	margin-top: 30px;
	margin-bottom: 62px;
}

.hyperlink {
	color: dimgray
}

/* end login page */

/* video page */

.video {
	padding-top: 50px;
	padding-bottom: 50px;
}

.reviewtitle {
	color: white;
	padding: -30px;
}

.review {
	background: #acd0be;
	padding-left: 140px;
	padding-right: 140px;
	padding-bottom: 50px;
	padding-top: 20px;
}

.startwo {
	color: white;
}

.reviewer {
	padding-top: 30px;
}

/* end video page */

.yourcourses-title {
	padding: 30px;
	font-size: 40px;
}

li {
	text-align: center;
	list-style-position: inside;
	font-weight: bold;
}
.questions {
	background-color: #ACD0BE;
	padding: 50px;
	margin: 50px;
	border: 5px dotted black;
}

.contactbox {
	background-color: #ACD0BE;
	padding: 50px;
	margin: 50px;
	border: 5px dotted black;
}

.socialsmedia {
	width: 10%
}