/*color nav bar & our goal: #acd0be
colors used in logo: #acd0be, #6ad892, #67d891;*/ 
* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

header {
	background: hsla(218,44%,55%,1.00);
}

.home {
	padding-left: 20px;
}

button {
	align-content: right;
	color: white;
}

nav {
	background: #acd0be;
}

.carousel {
	padding: 30px;
	margin: auto;
	align-content: center;
	width: 60%;
}

h2 {
	color: black;
}

.courses {
	padding-bottom: 20px;
	margin-top: 50px;
}

.star {
	color: goldenrod;
}

footer {
	width: 100%;
	padding: 10px;
	background: #acd0be;
}
.logo { 
	text-align: center;
}
.jumbotron {
	background-color: #acd0be;
}
.image {
	height: 200px;
}
.description-margin {
	margin-top: 50px; 
}
p {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.trending-margin {
	margin-bottom: 50px;
	margin-top: 50px; 
}
.text-about-us {
	margin-left: 50px;
	margin-right: 50px;
}
.search-bar {
	text-align:center;
	margin-left: 475px;
	margin-top: 75px;
	margin-bottom: 50px;
}
.star-margin {
	margin-bottom: 10px;
}
.content-margin {
	margin-top: 40px;
	margin-bottom: 40px;
}
.content-title {
	margin-top: 40px;
	font-size: 200px; 
}